<section class="section border-top border-bottom" id="review">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-4">
                <h2 class="section-heading">Review</h2>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review text-center">
                                <p class="stars">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill muted"></span>
                                </p>
                                <h3>Excellent Service!</h3>
                                <blockquote>
                                    <p>AEW is a blessed service to me. It helped me a lot in improving my English writing.</p>
                                </blockquote>
                                <p class="review-user">
                                    <img src="assets/img/person_1.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                                    <span class="d-block">
                                        <span class="text-black">Ashinur Akter</span> &mdash; Department of Management. </span>
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review text-center">
                                <p class="stars">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill muted"></span>
                                </p>
                                <h3>Awsome service at low cost!</h3>
                                <blockquote>
                                    <p>I think AEW course was very helpful for me to develop my English writing skill. The tutors were highly proficient and they helped with finding out my grammatical faults. Their feedback was very insightful. Overall this service was really awesome at low cost. Thanks to BacBon for giving me such an opportunity.</p>
                                </blockquote>
                                <p class="review-user">
                                    <img src="assets/img/person_2.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                                    <span class="d-block">
                                        <span class="text-black">Sadia Akter</span> &mdash; University of Dhaka. </span>
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review text-center">
                                <p class="stars">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill muted"></span>
                                </p>
                                <h3>Very Helpful Indeed</h3>
                                <blockquote>
                                    <p>As an admission candidate, I faced difficulties in the English written part. I couldn't find a teacher to guide me on how to eliminate the mistakes I made in my writing. But BacBon provided me with AEW services, where I could submit answers and soon receive corrections with instructions on how to improve. AEW service provided by BacBon is very useful for admission candidates.</p>
                                </blockquote>
                                <p class="review-user">
                                    <img src="assets/img/person_3.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                                    <span class="d-block">
                                        <span class="text-black">Abir Sarker</span> &mdash; Faculty of Finance. </span>
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review text-center">
                                <p class="stars">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill muted"></span>
                                </p>
                                <h3>Great Opportunity</h3>
                                <blockquote>
                                    <p>AEW (Advanced English Writing) is one of the amazing services provided by BacBon. In my view, it is not only helpful but also affordable for any student. It improves students' writing skills and makes them suitable for creative writing. Students can practice here and get their mistakes corrected by skilled teachers. As our conventional education doesn't allow students this kind of opportunity, free handwriting becomes a big hurdle during the admission test. Bacbon's AEW service is a great opportunity in this regard. Through this service , the students will be able to furnish their path of creative writing in English within a short period. In fact, I think it is an indispensable initiative for the admission candidates.</p>
                                </blockquote>
                                <p class="review-user">
                                    <img src="assets/img/person_4.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                                    <span class="d-block">
                                        <span class="text-black">Jannatus Sabiha</span> &mdash; University of Dhaka. </span>
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review text-center">
                                <p class="stars">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill muted"></span>
                                </p>
                                <h3>Improved Writing Ability</h3>
                                <blockquote>
                                    <p>Advanced English Writing is one of my favourite ways to improve my English. The feature of this service I like the most is how quickly I receive feedback after practising a problem. As a result, my writing abilities have quickly improved.</p>
                                </blockquote>
                                <p class="review-user">
                                    <img src="assets/img/person_5.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                                    <span class="d-block">
                                        <span class="text-black">Srijan Saha</span> &mdash; Department of Marketing. </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>