
<div class="container main-container">
    <div class="row">
        <div class="col-md-12" *ngIf="is_loaded">
            <div class="alert alert-primary" role="alert">
                <strong> <i class="bi bi-file-text"></i> Details of {{ packageDetails.title }} Package</strong>
            </div>
        </div>
        <div class="col-md-8" *ngIf="is_loaded">
            <div class="card mb-4 shadow-sm h-md-250 shadow-card-details">
                <img class="card-img-top" src="{{ package_image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-bookmarks-fill"></i> {{ packageDetails.title }} Package  <span class="float-end small text-success"> <small> <i class="bi bi-signpost-fill"></i> Limit: {{ packageDetails.limit }}</small></span></h5>
                    <hr/>
                    <p class="h6">Why Choose {{ packageDetails.title }} Package</p>
                    <p class="card-text">{{ packageDetails.promotion_details }}</p>
                    <div class="alert alert-primary" role="alert">
                        <strong> <i class="bi bi-patch-check"></i> Benefits</strong>
                    </div>
                    <ul class="list-unstyled">
                        <li class="mb-2" *ngFor="let item of packageDetails.benefits; let i = index;">
                            <i class="bi bi-check2-circle text-success"></i> {{ item.benefit }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="is_loaded">
            <div class="card mb-4 shadow-sm h-md-250 shadow-card-details">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrap">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> <i class="bi bi-bookmarks-fill"></i> <span>{{ packageDetails.title }} Package</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6">{{ packageDetails.promotion_details }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body details-table">
                    <table class="table table-striped-columns">
                        <tr>
                            <td> Limit </td>
                            <td class="text-end text-primary"><em> {{ packageDetails.limit }} Item(s) </em></td>
                        </tr>
                        <tr>
                            <td> Cycle </td>
                            <td class="text-end text-primary"><em> {{ packageDetails.cycle }} Day(s) to complete </em></td>
                        </tr>
                    </table>
                    <!--<p class="card-text">{{ packageDetails.promotion_details }}</p> -->
                    <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-dark btn-sm">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>