
<div class="container main-container">
    <div class="row">
        <div class="col-md-12" *ngIf="is_loaded">
            <div class="alert alert-primary" role="alert">
                <strong> <i class="bi bi-file-text"></i> Details of {{ packageDetails.title }} Package</strong>
            </div>
        </div>
        <div class="col-md-8" *ngIf="is_loaded">
            <div class="card mb-4 shadow-sm h-md-250 shadow-card-details">
                <img class="card-img-top" src="{{ package_image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-bookmarks-fill"></i> {{ packageDetails.title }} Package  <span class="float-end small text-success"> <small> <i class="bi bi-signpost-fill"></i> Limit: {{ packageDetails.limit }}</small></span></h5>
                    <hr/>
                    <p class="h6">Why Choose {{ packageDetails.title }} Package</p>
                    <p class="card-text">{{ packageDetails.promotion_details }}</p>
                    <div class="alert alert-primary" role="alert">
                        <strong> <i class="bi bi-patch-check"></i> Benefits</strong>
                    </div>
                    <ul class="list-unstyled">
                        <li class="mb-2" *ngFor="let item of packageDetails.benefits; let i = index;">
                            <i class="bi bi-check2-circle text-success"></i> {{ item.benefit }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="is_loaded">
            <div class="card mb-4 shadow-sm h-md-250 shadow-card-details">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrap">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> <i class="bi bi-bookmarks-fill"></i> <span>{{ packageDetails.title }} Package</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6">{{ packageDetails.promotion_details }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body details-table">
                    <table class="table table-striped-columns">
                        <tr>
                            <td> Limit </td>
                            <td class="text-end text-primary"><em> {{ packageDetails.limit }} Item(s) </em></td>
                        </tr>
                        <tr>
                            <td> Cycle </td>
                            <td class="text-end text-primary"><em> {{ packageDetails.cycle }} Day(s) to complete </em></td>
                        </tr>
                    </table>
                    <form [formGroup]="entryForm" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="col-form-label" for="text-input">Syllebus</label>
                                <ng-select [items]="syllebusList" bindLabel="name" 
                                    bindValue="id" formControlName="syllebus_id" placeholder="Select Syllebus"
                                    [ngClass]="{ 'is-invalid': submitted && f.syllebus_id.errors }" >
                                </ng-select>
                                <div *ngIf="submitted && f.syllebus_id.errors" class="error-text">
                                    <span *ngIf="f.syllebus_id.errors.required" class="text-danger"> Syllebus is required</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-form-label" for="quantity">Quantity</label>
                                <input type="number" formControlName="quantity" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" id="contact_no" class="form-control form-control-sm custom-form" placeholder="Contact No">
                                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                                <span *ngIf="f.quantity.errors.required" class="text-danger"> Quantity is required</span>
                                </div>
                            </div>
                            <div class="col-md-2 cus-margin">
                                <button class="btn btn-success btn-sm cus-padding" (click)="addItemToList()">Add</button>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="alert alert-info items-title-padding" role="alert">
                                    <strong> <i class="bi bi-layout-text-window-reverse"></i> Items</strong>
                                </div>
                                <table class="table table-striped-columns">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of purchaseSyllebusList; let i = index;">
                                            <th scope="row">{{ i+1 }}</th>
                                            <td>{{ item.syllebus_name }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-outline-danger btn-sm" (click)="deleteItemFromCart(item)"><i class="bi bi-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!--<div class="form-group row mt-3">
                            <label class="col-md-4 col-form-label" for="quantity">Quantity</label>
                            <div class="col-md-8">
                                <input type="number" formControlName="quantity" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" id="contact_no" class="form-control" placeholder="Contact No">
                                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                                <span *ngIf="f.quantity.errors.required" class="text-danger"> Quantity is required</span>
                                </div>
                            </div>
                        </div>-->
                    </form>
                    <!--<p class="card-text">{{ packageDetails.promotion_details }}</p> -->
                    <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-dark btn-sm mt-5">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>