<section class="section" id="experts">
    <div class="container">
        <div class="col-md-5" data-aos="fade-up">
            <h2 class="section-heading mt-4">Our Experts</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="assets/img/graduation.png" alt="qualified" class="rounded mx-auto d-block" data-aos="fade-up">
                <br>
                <b>Highly Qualified</b>
                <br>(Our experts are recruited through a four-stage recruitment test, and they are at least enrolled in or finished a bachelor's degree. Their English skill is equivalent to GRE 320 or IELTS 7.5).
            </div>
            <div class="col-md-4">
                <img src="assets/img/training-icon.png" alt="trained" class="rounded mx-auto d-block" data-aos="fade-up">
                <br>
                <b>Trained by Experts</b>
                <br>(A pool of English experts provides rigorous training to the experts)
            </div>
            <div class="col-md-4">
                <img src="assets/img/experience.png" alt="experienced" class="rounded mx-auto d-block" data-aos="fade-up">
                <br>
                <b>Experienced</b>
                <br>(Our experts have at least two-year experience of teaching English or English proofreading).
            </div>
        </div>
    </div>
</section>