.widget-container {
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
    margin-bottom: 30px
}

.widget-container .widget {
    margin-bottom: 0
}

.widget-container>.row {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.widget-container>.row>[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.widget {
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative;
    vertical-align: middle
}

.widget .row {
    font-size: 0;
    margin-left: 0;
    margin-right: 0
}

.widget .row:before {
    display: none
}

.widget .row .col {
    font-size: 11px
}

.widget .row .col:first-child {
    -webkit-border-radius: 2px 0 0 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px 0 0 2px;
    -moz-background-clip: padding;
    border-radius: 2px 0 0 2px;
    background-clip: padding-box
}

.widget .row .col:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 2px 2px 0;
    -moz-background-clip: padding;
    border-radius: 0 2px 2px 0;
    background-clip: padding-box
}

.widget .col {
    display: inline-block;
    vertical-align: top
}

.widget [class*=col-] {
    font-size: 11px;
    margin: 0;
    padding: 0
}

.widget .widget-stat {
    position: absolute
}

.widget .widget-stat.top {
    top: 7px
}

.widget .widget-stat.right {
    right: 10px
}

.widget .widget-stat.left {
    left: 10px
}

.widget .widget-stat.bottom {
    bottom: 7px
}

.widget .widget-stat strong,
.widget .widget-stat span,
.widget .widget-stat i,
.widget .widget-stat div {
    vertical-align: top
}

.widget .progress {
    margin-bottom: 0
}

.profile-card .card-header .header-avatar {
    text-align: center
}

.profile-card .card-header .header-avatar img {
    margin: 25px 0 15px;
    width: 100%;
}

.profile-card .card-header .header-name {
    font-size: 20px;
    font-weight: 400;
    text-align: center
}

.profile-card .card-body {
    -webkit-transform: skew(0deg, -10deg);
    -moz-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    margin-top: 30px;
    min-height: 100px;
    padding: 50px 20px
}

.profile-card .card-body .body-description {
    -webkit-transform: skew(0deg, 10deg);
    -moz-transform: skew(0deg, 10deg);
    -o-transform: skew(0deg, 10deg);
    -ms-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
    color: #fff;
    font-size: 13px
}

.profile-card .card-footer {
    margin-top: 50px;
    padding: 10px 0 20px
}

.profile-card .card-footer .footer-social {
    text-align: center
}

.profile-card .card-footer .footer-social .row {
    margin: 0
}

.profile-card .card-footer .footer-social i {
    color: #292929;
    font-size: 20px
}

.bg-primary {
    background-color: #29c7ca !important;
    color: #fff !important
}

.bg-success {
    background-color: #1dbc9c !important;
    color: #fff !important
}

.bg-info {
    background-color: #34b5dc !important;
    color: #fff !important
}

.bg-warning {
    background-color: #ffc107 !important;
    color: #fff !important
}

.bg-danger {
    background-color: #cd4237 !important;
    color: #fff !important
}

.bg-inverse {
    background-color: #fefefe !important;
    color: #292929 !important
}

.bg-white {
    background-color: #fff !important;
    color: #292929 !important
}

.bg-transparent {
    background-color: transparent !important
}

.bg-body {
    background-color: #f1f3f2 !important
}

.bg-highlight {
    background-color: #ff8
}

.bg-default-darker {
    background-color: #212121
}

.details-button {
    padding: 5px 30px !important;
}

/* ********************** Dashboard *********************** */

.box_general {
    background-color: #fff;
    /* padding: 15px 30px 0; */
    padding: 0 30px!important;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #777;
    font-size: 14px;
    font-size: .875rem;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}

.menu-main_info_wrapper {
    padding: 30px 0 30px 3px;
}

.main_title p {
    color: #999;
    margin: 0;
    padding: 0;
    font-size: 14px;
    /* font-size: 0.875rem; */
}

p{
    line-height: 2;
}

p:hover{
    line-height: 2;
    color: #000 !important
}

.title-p{
    margin-bottom: 10px;
    color: BLUE;
    font-weight: 700;
}

.heading-title{
    margin-bottom: 0px;
    color: BLUE;
    font-weight: 700;
}

.date-style{
    color: #000;
    font-weight: 500;
}

.box_general {
    padding: 0px 30px 0 30px !important
}

.ul-link-a{
    color: #082044;
    font-size: 80px;
    text-shadow: 5px 5px 5px #b5b5b5;
}

.ul-li{
    margin-top: 20px;
    border: 5px solid #efefef;
    border-radius: 15px;
}

.list-item-group{
    list-style: none;
    padding-left: 0px;
}

.a-active
{
    color: #ffa636;;
}

.active-link
{
    border: 5px solid #ffa636;;
}

.list_home ul{
    padding-left: 0rem !important;
}

.list_home ul li{
    list-style: none !important;
}

.list_home ul li a {
    padding: 15px 10px 13px 10px;
    margin-bottom: 6px;
    min-height: auto;
    text-decoration: none;
}

.list_home ul li a {
    border: 1px solid #ededed;
    box-shadow: 0 2px 4px rgba(3,27,78,.06);
    border-radius: 5px;
    padding: 15px 10px 13px;
    color: #444;
    margin-bottom: 30px;
    display: block;
}

.list_home ul li a:hover {
    color: rgb(0, 0, 0);
}

.list_home ul li a .score {
    top: 6px;
    right: 10px;
}

.ribbon {
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1;
    top: 12px;
    right: 15px;
    padding: 6px 8px;
    font-weight: 600;
    min-width: 40px;
    z-index: 9;
}

.status-submited{
    background: #255190 !important;
    color: #fff !important;
}

.status-corrected{
    background: #28a745!important;
    color: #fff !important;
}

.status-accepted{
    background: #4a38eb!important;
    color: #fff !important;
}

.score strong {
    border: 1px solid #c0c0c0;
    background: #255190;
    color: #fff;
    font-weight: 700;
}

.link-color{
    color: #ffffff;
}

.header-inline{
    display: inline-block;
}

.dropdown-right{
    width: 40%;
}

.answer-btn{
    margin-top: -4px !important;
}

.list_home ul li a img {
    width: 40px !important;
}

.list_home ul li a:hover img {
    transform: translate(0, 0) scale(1) !important;
}
.see-deatils-btn{
    background-color: #dfe0e0!important;
    border-radius: 4px;
    color: #000;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    top: 12px;
    right: 15px;
    padding: 6px 8px 6px 8px;
    font-weight: 600;
    min-width: 40px;
    z-index: 9;
}

.answer-now-btn{
    background-color: #00a308!important;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    top: 12px;
    right: 15px;
    padding: 6px 8px 6px 8px;
    font-weight: 600;
    min-width: 40px;
    z-index: 9;
}

.menu-main_info_wrapper{
    padding: 30px 0px 30px 3px;
}

.menu-a-style{
    font-size: 19px;
}

.active-menu{
    color: blue;
}

/* ********************** End Dashboard *********************** */