<section class="section cta-section" id="download">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 me-auto text-center text-md-start mb-5 mb-md-0">
                <h2>Download AEW Apps From</h2>
            </div>
            <div class="col-md-5 text-center text-md-end">
                <a href="https://apps.apple.com/" class="btn d-inline-flex align-items-center mr-2" target="_blank">
                    <i class="bx bxl-apple"></i>
                    <span>App store</span>
                </a>
                <a href="https://play.google.com/" class="btn d-inline-flex align-items-center" target="_blank">
                    <i class="bx bxl-play-store"></i>
                    <span>Google play</span>
                </a>
            </div>
        </div>
    </div>
</section>