
<div class="container main-container">
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <h2>Package List</h2>
            </div>
            <div class="col-lg-4 mt-3 mb-5" *ngFor="let item of packageList; let i = index;">
                <div class="card">
                    <img src="{{ item.feature_image }}" class="card-img-top" alt="package">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text"> {{ item.promotion_details | truncate:150}} </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-3">
                                <small class="text-success"><strong>Limit: {{ item.limit }}</strong></small>
                            </div>
                            <div class="col-sm-5">
                                <small class="text-primary"><strong>Cycle: {{ item.cycle }} Days</strong></small>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-primary btn-sm details-button">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<block-ui></block-ui>