
<div class="container main-container">
    <div class="row">
        <!--<div class="col-lg-12">
            <h2>Package List</h2>
        </div>-->
        <div class="row">
            <div class="col-lg-12">
                <h5 class="mb-4">Correction Dashboard</h5>
            </div>
            <div class="col-md-3 mb-3">
                <div class="box_general">
                    <div class="menu-main_info_wrapper">
                        <div class="main_info clearfix">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-primary" role="alert">
                                        <strong> <i class="bi bi-list"></i> Menu</strong>
                                    </div>
                                    <div class="list_home mt-4">
                                        <ul>
                                            <li>
                                                <a href="javascript:;" class="menu-a-style active-menu" [routerLink]="['/dashboard/student']">
                                                    <i class="fa fa-home"></i> <span> Dashbord</span>
                                                </a>
                                            </li>
                                            <li class="mt-2">
                                                <a href="javascript:;" class="menu-a-style" [routerLink]="['/']">
                                                    <i class="fa fa-list"></i> <span> My Payment List</span>
                                                </a>
                                            </li>
                                            <li class="mt-2">
                                                <a href="javascript:;" class="menu-a-style" [routerLink]="['/']">
                                                    <i class="fa fa-list"></i> <span> My Purchase List</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="box_general">
                    <div class="main_info_wrapper" >
                        <div class="main_info clearfix">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main_title version_2">
                                        <div class="alert alert-success mt-4" role="alert">
                                            <strong> <i class="bi bi-list"></i> My Corrections</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--<form [formGroup]="searchForm" class="col-md-12">

                                            <div class="row">                                              
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="col-form-label ">Select Package </label>
                                                        <ng-select (change)="onPackageChange($event)" formControlName="package_id" [clearable]="false"
                                                            [clearOnBackspace]="false" [items]="packageList" [multiple]=false
                                                            bindLabel="name" bindValue="id" placeholder="Select Package">
                                                        </ng-select>
                                                    </div>
                                                </div>               
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="col-form-label ">Select Model Exam </label>
                                                        <ng-select (change)="onModelExamChange($event)" formControlName="model_exam_id" [clearable]="false"
                                                            [clearOnBackspace]="false" [items]="modelExamList" [multiple]=false
                                                            bindLabel="name" bindValue="id" placeholder="Select Model Exam">
                                                        </ng-select>
                                                    </div>
                                                </div>               
                                                <div class="col-lg-2 " *ngIf="packageList.length > 0 || modelExamList.length > 0">
                                                    <div class="form-group mt-4 pt-2">
                                                        <button (click)="allClear()" class="btn btn-warning "
                                                            > Clear All
                                                        </button>
                                                    </div>
                                                </div> 
                                            </div>
                                        </form>-->
                                    </div>
                                    <div class="list_home">
                                        <ul>
                                            <li *ngFor="let item of correctionList; let i = index;">
                                                <a [routerLink]="['/beat-correction-details',item.id]">
                                                    <p class="title-p">{{ item.topic_title }}</p>
                                                    <small *ngIf="item.answer_date" class="date-style float-end">Answered Date: {{item.answer_date | date: 'MMM d, y, h:mm:ss a' }}</small>
                                                    <p *ngIf="item.tutor_id" class="title-p"> 
                                                        <img  *ngIf="item.profile_pic" src="https://api.bacbontutors.com/V2/uploads/tutors/{{ item.profile_pic }}" class="img-fluid lazy" alt=""> Corrector: {{ item.tutor_name }}
                                                    </p>
                                                    <span *ngIf="item.status == 'Not Answered'" class="ribbon bg-warning float-end">Not Answered</span>
                                                    <span *ngIf="item.status == 'Submitted'" class="ribbon status-submited float-end">Submitted</span>
                                                    <span *ngIf="item.status == 'Accepted'" class="ribbon status-accepted float-end">Accepted</span>
                                                    <span *ngIf="item.status == 'Corrected'" class="ribbon status-corrected float-end">Corrected</span>
                                                    <small>{{item.title }}</small><br/>
                                                    <span class="see-deatils-btn mt-2"> <i class="fa fa-eye"></i> See Details</span>
                                                    <span class="answer-now-btn mt-2 float-end" *ngIf="item.status == 'Not Answered'"> <i class="fa fa-pencil"></i> Write An Answer</span>
                                                </a>
                                            </li>
                                            <li *ngIf="!correctionList.length">
                                                <a href="javascript:;">
                                                    <p class="title-p">No correction found</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="row text-center mt-5 mb-5 pb-5">
                                        <div class="col-md-12 col-xs-12">
                                            <nav>                                             
                                                <!--<pagination-controls (pageChange)="setPage($event)" responsive="true"></pagination-controls>-->
                                            </nav>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--<div class="col-md-4 mt-3 mb-5" *ngFor="let item of packageList; let i = index;">
            <div class="card">
                <img src="{{ item.feature_image }}" class="card-img-top" alt="package">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text"> {{ item.promotion_details | truncate:150}} </p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-3">
                            <small class="text-success"><strong>Limit: {{ item.limit }}</strong></small>
                        </div>
                        <div class="col-md-5">
                            <small class="text-primary"><strong>Cycle: {{ item.cycle }} Days</strong></small>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-sm details-button" [routerLink]="['/package/details', item.id]">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>

<block-ui></block-ui>