<section class="section" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 me-auto">
                <h2 class="mb-4">About AEW</h2> AEW (Advanced English Writing) is a tailored humancentric writing service of BBI LLC, USA for the students to help them to master English writing with personalized interactive feedback from experts. This service aims to make students interested in English & optimize their creative writing skills. The service is completely human-centric to help improve students’ self-learning skills & personal motivation for creative writing ability. Personalized creative feedback helps students overcome their unease of English as a foreign language by bringing out the student's creative and innovative writing skills. Students get a good opportunity to experience cross-boundary and cross-cultural experiences by interacting with international English writing experts.
            </div>
            <div class="col-md-6" data-aos="fade-left">
                <img src="assets/img/undraw_svg_2.svg" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="section" id="whyaew">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade-right">
                <img src="assets/img/why-us.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 me-auto">
                <h2 class="mb-4">Why AEW?</h2> At AEW, we care for nursing students' creativity and innovative way of writing. Students should be focusing on their own writing ability than using AI-based proofreading services. If they do not write, their creativity would be hampered, proactive thinking along with problem-solving skills will go down! Conventional AI-based proofreading services rarely offer human-centric interactive feedback and sometimes offer correction, failing to consider the student's writing background. At AEW service, students will get human-centric corrections and fall in love with creative English writing.
            </div>
        </div>
    </div>
</section>
<section class="section" id="features">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 me-auto">
                <h2 class="mb-4">Our Expertize</h2> We have more than <strong>six years of experience</strong> providing quality English writing services to Japanese high school students. We have provided service to more than three hundred thousand Japanese students. We have a pool of professional English writing experts recruited from Bangladesh, the USA, the UK, India, and Nepal, who undergo 4-Stage exams and rigorous training. We care about maintaining the top quality of service. A dedicated quality management team interacts with Experts and regularly checks their correction quality. Moreover, students have the privilege of rating the quality of corrections, and teachers can rate both experts.
            </div>
            <div class="col-md-6" data-aos="fade-left">
                <img src="assets/img/experts.jpg" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>