<header class="nav-bg text-white">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light nav-bg">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/img/aew-200-white.png" alt="" class="img-fluid nav-brand"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-items">
            <li><a class="active" href="">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Experts</a></li>
            <li><a routerLink="/package/list">Package</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
</header>